<mat-toolbar class="app-navbar mat-elevation-z6" color="primary">
  <button mat-icon-button color="white" aria-label="Menu">
    <mat-icon>menu</mat-icon> Menu
  </button>
  <span class="fill-remaining-space"></span>
  <span>Employee Details</span>
  <span class="fill-remaining-space"></span>
  <mat-icon color="white" style="margin-right: 15px;">home</mat-icon>
  <mat-icon color="white">feedback</mat-icon>
</mat-toolbar>
<div class="container">
  <!-- <app-employee></app-employee> -->
  <app-employee-list></app-employee-list>
</div>
